html {
  min-height: 100vh;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif;
  background: #0b1232;
  background: radial-gradient(circle, rgb(11, 18, 50) 0%, #081837 35%, #111e33 66%, #051528 100%);
  color: #eee;
}